<!DOCTYPE html>
<html lang="es" xmnls:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Empleados</title>
</head>
<body>
    <h1>Bienvenido a la Gestión de Empleados</h1>
    <ul>
        <li><a href="/empresa/empleados">Mostrar empleados</a></li>
        <li><a href="/empresa/empleados/salario">Mostrar salario de un empleado</a></li>
        <li><a href="/empresa/empleados/modificar">Modificar datos de un empleado</a></li>
    </ul>
</body>
</html>
